@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@using Assignment.Models.ViewModel
@model CollectionSelectViewModel

<form>
    <select asp-items=@Model.CollectionSelectItems name="ColletionId"></select>
    <button type="submit">Select</button>
</form>