@using Assignment.Models.ViewModel
@model CollectionSelectViewModel

<form>
    <select asp-items=@Model.CollectionSelectItems name="ColletionId"></select>
    <button type="submit">Select</button>
</form>