@model IEnumerable<Assignment.Models.Song>
@{
    ViewData["Title"] = "Top";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Top</h1>
<br />
<h2>Top Selling Song:</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Sales)
            </th>
        </tr>
    </thead>
<tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sales)
            </td>
        </tr>        
}
    </tbody>
</table>